USE [master]
GO
/****** Object:  Database [CAPTION_CONTEST]    Script Date: 30-05-2020 10:35:32 PM ******/
CREATE DATABASE [CAPTION_CONTEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CAPTION_CONTEST', FILENAME = N'C:\Users\HP\CAPTION_CONTEST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CAPTION_CONTEST_log', FILENAME = N'C:\Users\HP\CAPTION_CONTEST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAPTION_CONTEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAPTION_CONTEST]
GO
USE [CAPTION_CONTEST]
GO
/****** Object:  Table [dbo].[TBL_CAPTION]    Script Date: 30-05-2020 10:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CAPTION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAPTION_NAME] [nvarchar](500) NULL,
	[FILE_PATH] [nvarchar](500) NULL,
	[DATE_CREATED] [datetime] NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[CITY_ID] [int] NULL,
	[STATUS] [smallint] NULL,
	[TERMS_CONDITIONS] [nvarchar](max) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[OWNER_ID] [int] NULL,
	[IS_DELETED] [bit] NULL,
 CONSTRAINT [PK_TBL_CAPTION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CAPTION_COMMENTS]    Script Date: 30-05-2020 10:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CAPTION_COMMENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAPTION_ID] [int] NULL,
	[USER_ID] [int] NULL,
	[CAPTION_COMMENT] [nvarchar](500) NULL,
	[DATE_CREATED] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
 CONSTRAINT [PK_TBL_CAPTION_COMMENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CITIES]    Script Date: 30-05-2020 10:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CITIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STATE_ID] [int] NULL,
	[CITY_NAME] [nvarchar](100) NULL,
	[CITY_CODE] [char](5) NULL,
	[IS_DELETED] [bit] NULL,
 CONSTRAINT [PK_TBL_CITIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_COUNTRIES]    Script Date: 30-05-2020 10:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_COUNTRIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_NAME] [nvarchar](500) NULL,
	[COUNTRY_CODE] [nvarchar](5) NULL,
	[ISO_CODE] [char](10) NULL,
	[IS_DELETED] [bit] NULL,
 CONSTRAINT [PK_TBL_COUNTRIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PRIZES]    Script Date: 30-05-2020 10:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PRIZES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAPTION_ID] [int] NULL,
	[PRIZE_TYPE] [smallint] NULL,
	[PRIZE] [nvarchar](max) NULL,
	[QUANTITY] [int] NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[IS_DELETED] [bit] NULL,
 CONSTRAINT [PK_TBL_PRIZES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ROLES]    Script Date: 30-05-2020 10:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ROLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [nvarchar](50) NULL,
	[IS_DELETED] [bit] NULL,
 CONSTRAINT [PK_TBL_ROLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_STATES]    Script Date: 30-05-2020 10:35:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STATES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_ID] [int] NULL,
	[STATE_NAME] [nvarchar](50) NULL,
	[ISO_CODE] [char](5) NULL,
	[IS_DELETED] [bit] NULL,
 CONSTRAINT [PK_TBL_STATES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER]    Script Date: 30-05-2020 10:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [int] NULL,
	[FIRST_NAME] [nvarchar](100) NULL,
	[LAST_NAME] [nvarchar](100) NULL,
	[USERNAME] [nvarchar](500) NULL,
	[PASSWORD_HASH] [nvarchar](max) NULL,
	[PASSWORD_SALT] [nvarchar](max) NULL,
	[EMAIL_ID] [nvarchar](100) NULL,
	[MOBILE_NUMBER] [nvarchar](50) NULL,
	[STATUS] [smallint] NULL,
	[NOTIFICATION_MODE] [smallint] NULL,
	[DATE_CREATED] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[DOB] [nvarchar](50) NULL,
	[IP_ADDRESS] [nvarchar](50) NULL,
	[BUSINESS_NAME] [nvarchar](500) NULL,
	[ADDRESS_1] [nvarchar](max) NULL,
	[ADDRESS_2] [nvarchar](max) NULL,
 CONSTRAINT [PK_TBL_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_WINNERS]    Script Date: 30-05-2020 10:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_WINNERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[CAPTION_COMMENT_ID] [int] NULL,
	[CAPTION_ID] [int] NULL,
	[PRIZE_ID] [int] NULL,
	[DATE_CREATED] [datetime] NULL,
	[STATUS] [smallint] NULL,
	[IS_DELETED] [bit] NULL,
 CONSTRAINT [PK_TBL_WINNERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_CAPTION]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CAPTION_TBL_CITIES] FOREIGN KEY([CITY_ID])
REFERENCES [dbo].[TBL_CITIES] ([ID])
GO
ALTER TABLE [dbo].[TBL_CAPTION] CHECK CONSTRAINT [FK_TBL_CAPTION_TBL_CITIES]
GO
ALTER TABLE [dbo].[TBL_CAPTION]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CAPTION_TBL_USER] FOREIGN KEY([OWNER_ID])
REFERENCES [dbo].[TBL_USER] ([ID])
GO
ALTER TABLE [dbo].[TBL_CAPTION] CHECK CONSTRAINT [FK_TBL_CAPTION_TBL_USER]
GO
ALTER TABLE [dbo].[TBL_CAPTION_COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CAPTION_COMMENTS_TBL_CAPTION] FOREIGN KEY([CAPTION_ID])
REFERENCES [dbo].[TBL_CAPTION] ([ID])
GO
ALTER TABLE [dbo].[TBL_CAPTION_COMMENTS] CHECK CONSTRAINT [FK_TBL_CAPTION_COMMENTS_TBL_CAPTION]
GO
ALTER TABLE [dbo].[TBL_CAPTION_COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CAPTION_COMMENTS_TBL_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[TBL_USER] ([ID])
GO
ALTER TABLE [dbo].[TBL_CAPTION_COMMENTS] CHECK CONSTRAINT [FK_TBL_CAPTION_COMMENTS_TBL_USER]
GO
ALTER TABLE [dbo].[TBL_CITIES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CITIES_TBL_STATES] FOREIGN KEY([STATE_ID])
REFERENCES [dbo].[TBL_STATES] ([ID])
GO
ALTER TABLE [dbo].[TBL_CITIES] CHECK CONSTRAINT [FK_TBL_CITIES_TBL_STATES]
GO
ALTER TABLE [dbo].[TBL_PRIZES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PRIZES_TBL_CAPTION] FOREIGN KEY([CAPTION_ID])
REFERENCES [dbo].[TBL_CAPTION] ([ID])
GO
ALTER TABLE [dbo].[TBL_PRIZES] CHECK CONSTRAINT [FK_TBL_PRIZES_TBL_CAPTION]
GO
ALTER TABLE [dbo].[TBL_STATES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_STATES_TBL_COUNTRIES] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[TBL_COUNTRIES] ([ID])
GO
ALTER TABLE [dbo].[TBL_STATES] CHECK CONSTRAINT [FK_TBL_STATES_TBL_COUNTRIES]
GO
ALTER TABLE [dbo].[TBL_USER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_ROLES_TBL_USER] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[TBL_ROLES] ([ID])
GO
ALTER TABLE [dbo].[TBL_USER] CHECK CONSTRAINT [FK_TBL_ROLES_TBL_USER]
GO
ALTER TABLE [dbo].[TBL_WINNERS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_WINNERS_TBL_CAPTION] FOREIGN KEY([CAPTION_ID])
REFERENCES [dbo].[TBL_CAPTION] ([ID])
GO
ALTER TABLE [dbo].[TBL_WINNERS] CHECK CONSTRAINT [FK_TBL_WINNERS_TBL_CAPTION]
GO
ALTER TABLE [dbo].[TBL_WINNERS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_WINNERS_TBL_CAPTION_COMMENTS] FOREIGN KEY([CAPTION_COMMENT_ID])
REFERENCES [dbo].[TBL_CAPTION_COMMENTS] ([ID])
GO
ALTER TABLE [dbo].[TBL_WINNERS] CHECK CONSTRAINT [FK_TBL_WINNERS_TBL_CAPTION_COMMENTS]
GO
ALTER TABLE [dbo].[TBL_WINNERS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_WINNERS_TBL_PRIZES] FOREIGN KEY([PRIZE_ID])
REFERENCES [dbo].[TBL_PRIZES] ([ID])
GO
ALTER TABLE [dbo].[TBL_WINNERS] CHECK CONSTRAINT [FK_TBL_WINNERS_TBL_PRIZES]
GO
ALTER TABLE [dbo].[TBL_WINNERS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_WINNERS_TBL_WINNERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[TBL_USER] ([ID])
GO
ALTER TABLE [dbo].[TBL_WINNERS] CHECK CONSTRAINT [FK_TBL_WINNERS_TBL_WINNERS]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ENUM: 0=ACTIVE, 1=DEACTIVE, 2=DRAFT, 3=COMPLETE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBL_CAPTION', @level2type=N'COLUMN',@level2name=N'STATUS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ENUM: 0=1st,1=2nd,2=3rd till 10' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBL_PRIZES', @level2type=N'COLUMN',@level2name=N'PRIZE_TYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBL_ROLES', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ENUM: 0=PENDING, 1=ACTIVE, 2=DEACTIVE ,3=IDLE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBL_USER', @level2type=N'COLUMN',@level2name=N'STATUS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ENUM: 0=DELIVERED, 1=UNDELIVERED, 2=CANCELLED, 3=RETURNED' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBL_WINNERS', @level2type=N'COLUMN',@level2name=N'STATUS'
GO
USE [master]
GO
